[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
six = "*"
django-slack-oauth = {git = "https://github.com/izdi/django-slack-oauth", editable = true}

[dev-packages]

[requires]
python_version = "3.8"
